@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes expandWidth {
    0% {
      width:1%;
    }
    100% {
      width:100%;
    }
  }
  
  
  @keyframes fadeUp {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes zoomIn {
    0% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}